{% extends "layout.html" %}
{% block title %}
    Character Creator
{% endblock %}

{% block content %}
    <form method="POST" action="/char_creator">
        <div class="mb-3">
            <label for="char-name" class="form-label">Character Name</label>
            <input type="text" class="form-control" id="char-name" name="char-name" placeholder="Enter a character name">
        </div>
        <div class="mb-3">
            <select class="form-select" name="char-race" id="char-race" aria-label="Select Race">
                <option selected>Select Race</option>
                {% for char_race in char_races %}
                    <option value="{{ char_race }}">{{ char_race }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <select class="form-select" name="char-class" id="char-class" aria-label="Select Class">
                <option selected>Select Class</option>
                {% for char_class in char_classes %}
                    <option value="{{ char_class }}">{{ char_class }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <select class="form-select" name="char-background" id="char-background" aria-label="Select a background">
                <option selected>Select background</option>
                {% for char_background in char_backgrounds %}
                    <option value="{{ char_background }}">{{ char_background }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <select class="form-select" name="char-alignment" id="char-alignment" aria-label="Select a Alignment">
                <option selected>Select Alignment</option>
                {% for char_alignment in char_alignments %}
                    <option value="{{ char_alignment }}">{{ char_alignment }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-dark">Submit</button>
        </div>
    </form>
{% endblock %}  