{% extends "layout.html" %}
{% block title %}
    Home Page
{% endblock %}

{% block content %}
    <h1>Homepage</h1>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Date Created</th>
            <th scope="col">Name</th>
            <th scope="col">race</th>
            <th scope="col">class</th>
            <th scope="col">background</th>
            <th scope="col">alignment</th>
          </tr>
        </thead>
        <tbody>
        {% for character in user.characters %}
          <tr>
            <th scope="row">{{ character.date }}</th>
            <td>{{ character.char_name }}</td>
            <td>{{ character.char_race }}</td>
            <td>{{ character.char_class }}</td>
            <td>{{ character.char_background }}</td>
            <td>{{ character.char_alignment }}</td>
            <td>
              <form action="/delete-character" method="post">
                <input name="id" type="hidden" value="{{ character.id }}">
                <input class="form-control" type="submit" value="Delete-character">
            </form>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
{% endblock %}  